---
import BaseLayout from '../layouts/Base.astro';
import LongCopy from '../components/copy/long-copy.astro';
import LeadInText from "../components/copy/lead-in-text.astro";
import IconBolt from '../images/bolt.svg?raw';
import IconSustainability from '../images/sustainability.svg?raw';
import Button from 'components/button.astro';
---
<style>
    .dot {
        @apply inline-block align-middle ml-3 w-5 h-5 rounded-full bg-current outline outline-2 outline-offset-2;
    }
</style>
<BaseLayout>
	
    <section>
        <LongCopy title={true} titleImportance="h1">
            <Fragment slot="title">
                Availability &amp; Rates
            </Fragment>
            <Fragment slot="lead-in">
                <LeadInText tag="h2">
                    Current availability
                </LeadInText>
            </Fragment>
            <Fragment slot="copy">
                <div class="space-y-8">
                    <div>
                        <h3 class="font-bold">Smaller / BAU type job availability</h3>
                        <p>2-3 day turnaround <span class="dot text-orange-500"></span></p>
                    </div>

                    <div>
                        <h3 class="font-bold">Project work</h3>
                        <p>Full <span class="dot text-red-500"></span></p>
                    </div>

                    <hr class="border-gray-500" />

                    <div>
                        <h3 class="font-bold">September</h3>
                        <p>
                            More scope for smaller pieces of work (1-2 days), smaller BAU work can be fitted around other commitments
                        </p>
                    </div>
                    
                    <div>
                        <h3 class="font-bold">October - March</h3>
                        <p>I am currently fully booked up now until March 2023.<br />If it's something you're looking to start from March onwards then I'd be <a href="/contact/" class="border-b border-current transition-colors hover:text-[#673ab7]">happy to talk</a>.</p>
                    </div>
                </div>
            </Fragment>
        </LongCopy>
        <LongCopy>
            <Fragment slot="lead-in">
                <LeadInText tag="h2">
                    Rates
                </LeadInText>
            </Fragment>
            <Fragment slot="copy">
                <p>It's best to always be honest and transparent with rates and pricing. See below for my current 2022 rates:</p>
                <div>
                    <h3 class="font-bold">Project rate</h3>
                    <p>
                        This is generally worked out based on a day rate and a 4 day week.<br />
                        For bigger projects, a discount may be applied depending on the estimated length of the project.
                    </p>
                </div>
                <div>
                    <h3 class="font-bold">Day rate</h3>
                    <p>
                        Frontend only development: £350 per day<br />
                        All other development: £400-450 per day
                    </p>
                    <p class="text-base text-orange-700 mt-2">It's always best to discuss your requirements this with me first, as depending on the development I may be able to charge the lower day rate.</p>
                </div>
                <div>
                    <h3 class="font-bold">Hourly rate</h3>
                    <p>
                        Frontend development: £60p/h<br />
                        Backend development: £70p/h
                    </p>
                    <p class="text-base text-orange-700 mt-2">I'm always more keen to work on a day rate as it's more cost effective for you and easier to plan for me.
                        So if you have a few smaller jobs that can be queued up and done in one go, that's going to be better.</p>
                </div>
            </Fragment>
        </LongCopy>
    </section>

    <div class="p-8 text-center bg-white/40 isolate">
        <h4 class="font-bold gradient-heading text-xl mb-4">Would you like to find out more about current availability and rates?</h4>
        <Button url="/contact/" on={true}>Get in touch</Button>
    </div>
</BaseLayout>
