---
import BaseLayout from '../layouts/Base.astro';
import Button from 'components/button.astro';
---
<BaseLayout>
    <div class="font-body text-xl">
        <div class="relative h-screen flex flex-col justify-center text-center px-5 sm:text-2xl">
            <h1 class="self-center text-5xl gradient-heading mb-10">Get in touch</h1>
            <div class="max-w-xl mx-auto space-y-4">
                <p>The best way to get in touch is by email and I'll try getting back to you as soon as I can.</p>
                <p>If you can let me know when is the best time and day to contact you, then I will try my best to work around you.</p>
                <p class="mt-6">Feel free to ask me any questions you may have; there is no such thing as a silly question.</p>

                <div class="!mt-10">
                    <Button url="mailto:info@danrichardson.net">&#128386; <span class="ml-4">Email Me</span></Button>
                </div>
            </div>
        </div>
    </div> 
</BaseLayout>
