---
import BaseLayout from '../layouts/Base.astro'
import LongCopy from '../components/copy/long-copy.astro';
import LeadInText from "../components/copy/lead-in-text.astro";
---
<BaseLayout>

    <LongCopy title="Some fancy upper case lead title about the section">
        <Fragment slot="lead-in">
            <LeadInText tag="h2">
                Using D-DIN Condensed Bold for a lead-in headings with reduced length and line height for editorial style
            </LeadInText>
        </Fragment>
        <Fragment slot="copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra felis ac massa sodales sagittis. Quisque ut odio consectetur, hendrerit purus vel, rhoncus arcu. Ut pulvinar quam quis tortor aliquet sodales viverra nec justo. Suspendisse potenti. Cras non nisi fermentum, iaculis mi et, tristique tortor. Sed ipsum nibh, dignissim eu magna nec, viverra tincidunt sapien. Phasellus sit amet nisl metus. Nunc ac leo massa. Etiam et enim quis lectus interdum accumsan.</p>
            <LeadInText tag="h3" size="text-2xl" class="my-4">
                Interspersed bigger text
            </LeadInText>
            <p>Curabitur luctus eleifend elit at pharetra. Mauris iaculis nulla eu scelerisque sollicitudin. Pellentesque et risus ornare, egestas ipsum in, accumsan nisi. Nunc rutrum erat id mi venenatis, a lobortis nunc posuere. Proin cursus magna dui, ac luctus tellus congue in. Nulla eget ornare ligula. Aenean vel porttitor purus. Pellentesque sagittis massa nisl.</p>
            <LeadInText tag="h3" size="text-2xl" class="my-4">
                Interspersed bigger text
            </LeadInText>
            <p class="tracking-tight">Proin eros lorem, mollis in vulputate vel, dapibus a diam. Aenean ut tempor libero. Etiam at convallis turpis. Nullam tortor sapien, convallis eu aliquam non, sagittis sed nisl. Nullam ac aliquet mi. Nulla lectus nisl, fringilla sed ultrices tempor, fermentum sed urna. Sed nisl arcu, ornare quis ullamcorper id, porttitor in elit. Nunc at dolor elit. Aliquam venenatis lorem facilisis enim tincidunt, quis consectetur elit sollicitudin. Integer quis finibus risus.</p>
        </Fragment>
    </LongCopy>

    <LongCopy  reverse={true}>
        <Fragment slot="lead-in">
            <LeadInText tag="span">
                Using D-DIN Condensed Bold for a lead-in headings with reduced length and line height for editorial style
            </LeadInText>
        </Fragment>
        <Fragment slot="copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra felis ac massa sodales sagittis. Quisque ut odio consectetur, hendrerit purus vel, rhoncus arcu. Ut pulvinar quam quis tortor aliquet sodales viverra nec justo. Suspendisse potenti. Cras non nisi fermentum, iaculis mi et, tristique tortor. Sed ipsum nibh, dignissim eu magna nec, viverra tincidunt sapien. Phasellus sit amet nisl metus. Nunc ac leo massa. Etiam et enim quis lectus interdum accumsan.</p>
            <LeadInText tag="h3" size="text-2xl" class="my-4">
                Interspersed bigger text
            </LeadInText>
            <p>Curabitur luctus eleifend elit at pharetra. Mauris iaculis nulla eu scelerisque sollicitudin. Pellentesque et risus ornare, egestas ipsum in, accumsan nisi. Nunc rutrum erat id mi venenatis, a lobortis nunc posuere. Proin cursus magna dui, ac luctus tellus congue in. Nulla eget ornare ligula. Aenean vel porttitor purus. Pellentesque sagittis massa nisl.</p>
            <LeadInText tag="h3" size="text-2xl" class="my-4">
                Interspersed bigger text
            </LeadInText>
            <p class="tracking-tight">Proin eros lorem, mollis in vulputate vel, dapibus a diam. Aenean ut tempor libero. Etiam at convallis turpis. Nullam tortor sapien, convallis eu aliquam non, sagittis sed nisl. Nullam ac aliquet mi. Nulla lectus nisl, fringilla sed ultrices tempor, fermentum sed urna. Sed nisl arcu, ornare quis ullamcorper id, porttitor in elit. Nunc at dolor elit. Aliquam venenatis lorem facilisis enim tincidunt, quis consectetur elit sollicitudin. Integer quis finibus risus.</p>
        </Fragment>
    </LongCopy>

</BaseLayout>
