---
import BaseLayout from '../layouts/Base.astro'
---
<BaseLayout>
    <div class="font-body text-xl">
        <div class="grid md:grid-cols-2 auto-rows-screen-1/2">
            <div class="bg-black/5 text-white center-mid">
                <div>
                    <div class="font-title uppercase">
                        <h1 class="text-5xl mb-2 gradient-heading">Dan Richardson</h1>
                        <h2 class="text-2xl opacity-85 text-[#17406b]">Freelance Web Developer, Derby</h2>
                    </div>
                </div>
            </div>
            <div class="text-black center-mid">
                <div class="font-title max-w-md uppercase leading-relaxed">
                    <p class="mb-0">Websites should be <a href="/build#effective" class="border-b border-current">effective</a>, <a href="/build#impactful" class="border-b border-current">impactful</a>, <a href="/build#efficient" class="border-b border-current">efficient</a>, and <a href="/build#fast" class="border-b border-current"><span class="inline-block">fast <span class="bg-white rounded-sm text-yellow-400">&#128498;</span></span></a></p>
                    <p><strong>Expect nothing less</strong> from your website.</p>
                </div>
            </div>
            <div class="bg-white/25 md:bg-transparent text-black center-mid">
                <div class="max-w-md">
                    <h3 class="text-2xl mb-10 uppercase ">&#127757; Is your website green?</h3>
                    <p class="mb-4">Conscious of your businesses' online carbon footprint and would like to reduce it?</p>
                    <a href="/go-green" class="relative py-4 px-6 inline-block border-2 hover:border-transparent border-white/40 transition-colors hover:bg-[#ffffff] group arrow-button">
                        <span class="inline-block transform transition-transform ease-in delay-100 group-hover:translate-x-2">Keep reading</span>
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="inline-block ml-4">
                            <style global>
                                .arrow-button.group:hover .arrow-1 {
                                    animation: arrow1-move .75s linear infinite forwards;
                                }
                                .arrow-button.group:hover .arrow-2 {
                                    animation: arrow2-move .75s linear infinite forwards;
                                }
                                .arrow-1, .arrow-2 {
                                    @apply transform transition-transform;
                                }
                                .arrow-2 {
                                    @apply -translate-x-full;
                                }
                                @keyframes arrow1-move {
                                    0% { transform: translateX(0%); }
                                    100% { transform: translateX(200%); }
                                }
                                @keyframes arrow2-move {
                                    0% { transform: translateX(-200%); }
                                    100% { transform: translateX(0%); }
                                }
                            </style>
                            <path class="arrow-1" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                            <path class="arrow-2" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                        </svg>
                        <div class="absolute bg-black inset-0 z-[-1] transform transition group-hover:delay-200 opacity-0 group-hover:opacity-100 group-hover:translate-x-3 group-hover:translate-y-3"></div>
                    </a>
                </div>
            </div>        
            <div class="bg-transparent md:bg-white/25 text-black center-mid">
                <div class="max-w-md">
                    <h3 class="text-2xl mb-10 uppercase ">Ready to find out more?</h3>
                    <p class="mb-4">Look through what I can help you with, and recent work I've done.</p>
                    <div class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-x-8 lg:space-y-0">
                        <a href="/services" class="relative py-4 px-6 inline-block border-2 hover:border-transparent border-white/40 transition-colors hover:bg-[#ffffff] group arrow-button">
                            <span class="inline-block transform transition-transform ease-in delay-100 group-hover:translate-x-2">Services</span>
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="inline-block ml-4">
                                <style global>
                                    .arrow-button.group:hover .arrow-1 {
                                        animation: arrow1-move .75s linear infinite forwards;
                                    }
                                    .arrow-button.group:hover .arrow-2 {
                                        animation: arrow2-move .75s linear infinite forwards;
                                    }
                                    .arrow-1, .arrow-2 {
                                        @apply transform transition-transform;
                                    }
                                    .arrow-2 {
                                        @apply -translate-x-full;
                                    }
                                    @keyframes arrow1-move {
                                        0% { transform: translateX(0%); }
                                        100% { transform: translateX(200%); }
                                    }
                                    @keyframes arrow2-move {
                                        0% { transform: translateX(-200%); }
                                        100% { transform: translateX(0%); }
                                    }
                                </style>
                                <path class="arrow-1" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                                <path class="arrow-2" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                            </svg>
                            <div class="absolute bg-black inset-0 z-[-1] transform transition group-hover:delay-200 opacity-0 group-hover:opacity-100 group-hover:translate-x-3 group-hover:translate-y-3"></div>
                        </a>
                        <a href="/work" class="relative py-4 px-6 inline-block border-2 hover:border-transparent border-white/40 transition-colors hover:bg-[#ffffff] group arrow-button">
                            <span class="inline-block transform transition-transform ease-in delay-100 group-hover:translate-x-2">Work</span>
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="inline-block ml-4">
                                <style global>
                                    .arrow-button.group:hover .arrow-1 {
                                        animation: arrow1-move .75s linear infinite forwards;
                                    }
                                    .arrow-button.group:hover .arrow-2 {
                                        animation: arrow2-move .75s linear infinite forwards;
                                    }
                                    .arrow-1, .arrow-2 {
                                        @apply transform transition-transform;
                                    }
                                    .arrow-2 {
                                        @apply -translate-x-full;
                                    }
                                    @keyframes arrow1-move {
                                        0% { transform: translateX(0%); }
                                        100% { transform: translateX(200%); }
                                    }
                                    @keyframes arrow2-move {
                                        0% { transform: translateX(-200%); }
                                        100% { transform: translateX(0%); }
                                    }
                                </style>
                                <path class="arrow-1" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                                <path class="arrow-2" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                            </svg>
                            <div class="absolute bg-black inset-0 z-[-1] transform transition group-hover:delay-200 opacity-0 group-hover:opacity-100 group-hover:translate-x-3 group-hover:translate-y-3"></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div> 
</BaseLayout>
