---
import BaseLayout from '../layouts/Base.astro'
import ArrowRight from '../images/arrow-right.svg?raw';
---
<BaseLayout>
	
    <div class="font-body text-xl">
        <section class="relative min-h-screen flex flex-col justify-center text-center text-2xl">
            <h1 class="self-center mb-10 text-4xl lg:text-6xl gradient-heading tracking-tighter">Recent works</h1>
            <div class="px-4 max-w-3xl mx-auto space-y-6">
                <p>This page is intentionally (at least for now) left blank, as the majority of my work that I do is for agencies - so it's not my work to show off!</p>
                <p>I'm proud of the work I do though and I would be more than happy to personally show you what work I have done, just ask.</p>
            </div>

            <a href="/contact" class="self-center !mt-10 relative py-4 px-6 inline-block border-2 hover:border-transparent border-white/40 transition-colors hover:bg-[#ffffff] group arrow-button">
                <span class="inline-block transform transition-transform ease-in delay-100 group-hover:translate-x-2">Find out more</span>
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="inline-block ml-4">
                    <style global>
                        .arrow-button.group:hover .arrow-1 {
                            animation: arrow1-move .75s linear infinite forwards;
                        }
                        .arrow-button.group:hover .arrow-2 {
                            animation: arrow2-move .75s linear infinite forwards;
                        }
                        .arrow-1, .arrow-2 {
                            @apply transform transition-transform;
                        }
                        .arrow-2 {
                            @apply -translate-x-full;
                        }
                        @keyframes arrow1-move {
                            0% { transform: translateX(0%); }
                            100% { transform: translateX(200%); }
                        }
                        @keyframes arrow2-move {
                            0% { transform: translateX(-200%); }
                            100% { transform: translateX(0%); }
                        }
                    </style>
                    <path class="arrow-1" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                    <path class="arrow-2" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                </svg>
                <div class="absolute bg-black inset-0 z-[-1] transform transition group-hover:delay-200 opacity-0 group-hover:opacity-100 group-hover:translate-x-3 group-hover:translate-y-3"></div>
            </a>
        </section>
        
        <!-- <section class="grid md:grid-cols-2 auto-rows-screen-1/2">        
            <div class="bg-black/5 center-mid">
                <h2 class="text-5xl gradient-heading">Lumishore</h2>
                During my time at Together Agency.
            </div>
            <div class="text-black center-mid">
                <div class="max-w-md space-y-4">
                    <p>New marketing website for Lumishore with a completely overhauled structure, after a thorough UX review.</p>
                    <p>The site is built in CraftCMS with a couple of small additional custom modules, TailwindCSS for website styling, Alpinejs for page interactions, and GSAP for animation and motion interactions.</p>
                </div>
            </div>
        </section>
    
        <section class="grid md:grid-cols-2 auto-rows-screen-1/2">        
            <div class="bg-black/5 center-mid md:order-1">
                <h2 class="text-5xl gradient-heading">Crosby Blinds</h2>
                During my time at Skylight Media.
            </div>
            <div class="text-black center-mid">
                <div class="max-w-md space-y-4">
                    <p>A completely redesigned and restructured e-commerce website, which is the center of their online business.</p>
                    <p>The new website was made to make administration of a very complicated product, much easier, and less laborious.</p>
                    <p>This was a completely 100% bespoke project built in .net Core, Next.js/React for the CMS, and using a custom Opayo payment integration to facilitate e-commerce transactions.</p>
                </div>
            </div>
        </section> -->
    </div>   
</BaseLayout>
