@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import './components/global.pcss';
@import './components/typography.pcss';
@import './components/components.pcss';

@import 'tailwindcss/utilities';