<div class="font-body text-xl">
    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">
        <div class="bg-black text-white center-mid">
            <div>
                <div class="font-title">
                    <h1 class="text-5xl mb-10">Dan Richardson</h1>
                    <h2 class="text-2xl">Freelance Web Developer, Derby</h2>
                </div>
            </div>
        </div>
        <div class="text-black center-mid">
            <div class="font-title max-w-md">
                <p class="mb-4">Websites should be effective, impactful, efficient, and <span class="inline-block">fast <span class="text-yellow-400">&#128498;</span></span></p>
                <p><strong class="bg-black text-white p-2">Expect nothing less</strong> from your website.</p>
            </div>
        </div>
        <div class="text-black center-mid">
            <div class="max-w-md">
                <h3 class="text-2xl font-title mb-10 text-[#2f8e33]">&#127757; Is your website green?</h3>
                <p class="mb-4">Conscious of your businesses' online carbon footprint? Want to reduce it?</p>
                <a href="/go-green" class="relative py-4 px-6 bg-white inline-block bg-[#2f8e33] text-white group arrow-button">
                    <span class="inline-block transform transition-transform ease-in delay-100 group-hover:translate-x-2">Great, keep reading</span>
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="inline-block ml-4 text-white">
                        <style global>
                            .arrow-button.group:hover .arrow-1 {
                                animation: arrow1-move .75s linear infinite forwards;
                            }
                            .arrow-button.group:hover .arrow-2 {
                                animation: arrow2-move .75s linear infinite forwards;
                            }
                            .arrow-1, .arrow-2 {
                                @apply transform transition-transform;
                            }
                            .arrow-2 {
                                @apply -translate-x-full;
                            }
                            @keyframes arrow1-move {
                                0% { transform: translateX(0%); }
                                100% { transform: translateX(200%); }
                            }
                            @keyframes arrow2-move {
                                0% { transform: translateX(-200%); }
                                100% { transform: translateX(0%); }
                            }
                        </style>
                        <path class="arrow-1" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                        <path class="arrow-2" d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" fill="currentColor"/>
                    </svg>
                    <div class="absolute bg-black inset-0 z-[-1] transform transition-transform group-hover:translate-x-2 group-hover:translate-y-2"></div>
                </a>
                <!--<p class="mb-4">Having an efficient website can reduce your businesses' carbon footprint, whilst still delivering your message effectively.</p>-->
            </div>
        </div>        
        <div class="bg-black text-white center-mid">
            <div class="font-body">
                <h3 class="mb-4">Get in touch to find out more</h3>
                <p>&#128386; <a href="mailto:info@danrichardson.net" class="underline">Drop me an email</a>.</p>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-2">        
        <div class="text-black center-mid py-16" style="background-color: lightcyan;">
            <div class="max-w-md space-y-4">
                <h3 class="text-2xl font-title mb-10">Who Am I?</h3>
                <p>I have over 15 years experience in web development, from FTSE100 enterprise level backend development in .NET C# and Microsoft SQL Server, to small business frontend development using only HTML and CSS.</p>
                <p>This time has also given me a large surface area for interaction with clients - and hopefully youself - to have really productive conversations and understand the needs of the business.</p>
                <p>With a keen eye for detail and a tenacity to find solutions, no part of a website is left unloved.</p>
            </div>
        </div> 
        <div class="text-black center-mid py-16">
            <div class="max-w-md space-y-4">
                <h4 class="text-2xl font-title mb-10">Skillsets</h4>
                <p>Over my time in web development I have widened my skillset and touched a lot of different technologies to varying degrees of intimacy. Some of these are:</p>

                <ul>
                    <li><strong class="font-bold">Backend:</strong> .NET C#, SQL/MSSQL, MySQL, Redis, PHP, Docker, Git</li>
                    <li><strong class="font-bold">Frontend:</strong> JavaScript, TypeScript, React, Astro, Next.js, Alpine.js, HTML, CSS <span class="text-xs">jQuery <span title="Face With Finger Covering Closed Lips">(&#129323;)</span></span></li>
                    <li><strong class="font-bold">CMS:</strong> 100% Bespoke, CraftCMS, DatoCMS</li>
                    <li><strong class="font-bold">Hosting:</strong> IIS, Netlify, Vercel, AWS</li>
                </ul>
            </div>
        </div> 
    </div>

    <div class="p-8 text-sm text-center">
        <h4>Want to find out more about me?</h4>
        <p>Feel free to <a href="mailto:info@danrichardson.net" class="underline">contact me</a>, or find me elsewhere on the internet&hellip;</p>
    </div>

    <style lang="scss">
        .social {
            @apply space-y-10 transition-all duration-200 overflow-hidden relative;
            @apply bg-center bg-no-repeat;
            background-size: 0% 0%;

            // &:after {
            //     content: "";
            //     width: 30px;
            //     height: 30px;
            //     position: absolute;
            //     top: 98%;
            //     right: -15px;
            //     background: #f00;
            //     transform: rotate(45deg);
            //     z-index: 0;
            //     @apply transition-transform duration-200
            // }

            > img {
                @apply p-2 bg-white rounded-md absolute delay-200;
            }
            > .social-text {
                @apply max-w-sm text-center opacity-0 delay-500;
            }
            > img, > .social-text {
                @apply transform transition-all duration-300;
            }

            &:hover {
                background-size: 100% 100%;

                // &:after {
                //     transform: rotate(45deg) scale(35) translate(-50%);
                // }
                > img {
                    @apply -translate-y-full;
                }
                > .social-text {
                    @apply translate-y-4 opacity-100;

                    &:after {
                        @apply translate-y-full;
                    }
                }
            }

            &-strava {
                @extend .social;
                @apply text-white;                
                background-image: radial-gradient(#f05f26, #f05f26);
            }
            &-spotify {
                @extend .social;
                @apply text-black;
                background-image: radial-gradient(#1ed760, #1ed760);
            }            
            &-twitter {
                @extend .social;
                @apply text-black;
                background-image: radial-gradient(#2daae1, #2daae1);
            }
            &-lastfm {
                @extend .social;
                @apply text-white;
                background-image: radial-gradient(#da1102, #da1102);
            }
        }
    </style>

    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">
        <a href="http://strava.com/athletes/danrichardson/" target="_blank" rel="nofollow" class="center-mid social-strava">
            <img src={Astro.resolve("../../images/strava.gif")} alt="Strava" />
            <div class="social-text">
                Keeping the mind healthy by keeping my body healthy
            </div>
        </a>
        <a href="http://open.spotify.com/user/danrichardson" target="_blank" rel="nofollow" class="center-mid social-spotify">
            <img src={Astro.resolve("../../images/spotify.jpg")} alt="Spotify" />
            <div class="social-text">
                Music to focus
            </div>
        </a>
        <a href="http://twitter.com/danrichardson/" target="_blank" rel="nofollow" class="center-mid social-twitter">
            <img src={Astro.resolve("../../images/twitter.gif")} alt="Twitter" />
            <div class="social-text">
                Keeping in touch with the fast moving world
            </div>
        </a>
        <a href="http://last.fm/user/danjrichardson" target="_blank" rel="nofollow" class="center-mid social-lastfm">
            <img src={Astro.resolve("../../images/lastfm.gif")} alt="last.fm" />
            <div class="social-text">
                Evidence of a wildly varied music taste!
            </div>
        </a>
        
    </div>
</div>
