html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background-color: #ffffff;
    font: normal normal normal 16px/1.3 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #555555;
}

a {
    color: #555555;
    text-decoration: none
}

.bikes {
    position: fixed;
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    background: url(../images/bike.png) 0 0 repeat-y
}

.dr {
    position: relative;
    top: -120px;
    display: block;
    margin: 0px auto -230px;
    max-width: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 800px;
    margin: 40px auto;
    border: 1px solid #ffffff;
    background-color: #ffffff
}

.me {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 4px 10px;
    background-color: #eaeaea;
    font-size: 14px;
    color: #8B8B8B;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in
}

.me:hover {
    background-color: #777777
}

.social-row {
    position: relative;
    min-height: 80px;
    padding: 20px 0 20px 38px;
    border-width: 0 0 1px 8px;
    border-style: solid;
    background-color: #ffffff;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-left-width 0.06s ease-in;
    -moz-transition: border-left-width 0.06s ease-in;
    transition: border-left-width 0.06s ease-in
}

.social-row.strava {
    border-color: #f05e25;
    color: #f05e25
}

.social-row.strava a {
    color: #f05e25
}

.social-row.twitter {
    border-color: #2caae1;
    color: #2caae1
}

.social-row.twitter a {
    color: #2caae1
}

.social-row.lastfm {
    border-color: #de281b;
    color: #de281b
}

.social-row.lastfm a {
    color: #de281b
}

.social-row.spotify {
    border-color: #7ab800;
    color: #7ab800
}

.social-row.spotify a {
    color: #7ab800
}

.social-row.instagram {
    border-color: #5f89ab;
    color: #5f89ab
}

.social-row.instagram a {
    color: #5f89ab
}

.social-row.email {
    border-color: #f1d200;
    color: #f1d200
}

.social-row.email a {
    color: #f1d200
}

.social-row.misc {
    border-bottom: 0
}

.social-row.misc a {
    margin-right: 20px;
    padding: 5px 8px;
    -webkit-transition-property: background-color,color;
    -moz-transition-property: background-color,color;
    transition-property: background-color,color;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.social-row.misc a:hover {
    background-color: #555555;
    color: #ffffff
}

.social-row:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 28px;
    height: 1px;
    background-color: #ffffff
}

.social-row .link {
    display: block
}

.social-row .detail,.social-row .social-img {
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto;
    vertical-align: middle
}

.social-row .social-img {
    -webkit-transition: margin-left 0.1s ease-in;
    -moz-transition: margin-left 0.1s ease-in;
    transition: margin-left 0.1s ease-in
}

.social-row .detail {
    position: relative;
    bottom: -145px;
    margin-left: 20px
}

.social-row:hover {
    border-left-width: 15px
}

.social-row:hover:before {
    width: 18px
}

.social-row:hover .social-img {
    margin-left: 20px;
    -webkit-transition: margin-left 0.15s ease-in;
    -moz-transition: margin-left 0.15s ease-in;
    transition: margin-left 0.15s ease-in
}

.social-row:hover .detail {
    bottom: 0;
    -webkit-transition: bottom 0.15s ease-out;
    -moz-transition: bottom 0.15s ease-out;
    transition: bottom 0.15s ease-out
}
