
@layer components {
    .bg {
        --startDeg: 8deg;
        background-color: #b5bce1;
        background-image: linear-gradient(var(--startDeg), #62ff0000 0%, #50acc8 61%, #2196f3 100%),
            linear-gradient(319deg, #4158D0 0%, #C850C0 31%, #FFCC70 100%);
    }
}