@layer components {
    @font-face {
        font-family: 'd-dincondenseddinCnBd';
        src: url('/font/d-dincondensed-bold.woff2') format('woff2'),
            url('/font/d-dincondensed-bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    body {
        @apply font-body text-base lg:text-lg;
    }

}