---
const { title = "" } = Astro.props;
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />    
	<meta name="keywords" content="Dan Richardson, freelance web developer" />
	<meta name="description" content="Dan Richardson - Freelance Web Developer, Derby" />
    <link rel="stylesheet" href={Astro.resolve("../css/global.css")}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?DM+Mono:wght@300&family=Major+Mono+Display&display=swap" rel="stylesheet">
	<title>Dan Richardson - Freelance Web Developer, Derby</title>
</head>

<body>

    <slot />
    
    <!-- <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-859633-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script> -->
</body>

</html>
