<div class="font-body text-xl">
    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">        
        <div class="bg-black text-white center-mid">
            <div>
                <div class="font-title">
                    <h1 class="text-5xl mb-10">Who Am I?</h1>
                </div>
            </div>
        </div>
        <div class="text-black center-mid">
            <div class="max-w-md space-y-4">
                <p class="leading-9">I am a <strong class="bg-black text-white p-2">freelance web developer</strong> based in Derbyshire, UK, with over <strong class="bg-black text-white p-2">15 years</strong> experience in web development and making websites.</p>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">         
        <div class="bg-black text-white center-mid md:order-2">
            <div>
                <div class="font-title">
                    <h2 class="text-5xl">What do I do?</h2>
                </div>
            </div>
        </div>
        <div class="text-black center-mid md:order-1">
            <div class="max-w-md space-y-4">
                <p>Working on over 50+ websites, my work has spanned from FTSE100 enterprise level development in .NET C# and Microsoft SQL Server, to creating simple business marketing websites in HTML and CSS.</p>
                <p>Now, having more focus as a freelance web developer, I love concentrating on building <span class="inline-block">fast <span class="text-yellow-400">&#128498;</span></span> and <span class="inline-block">efficient <span class="text-green-400">&#127757;</span></span> websites that are pleasing to the eye, and as accessible to use for as many people as possible.</p>
            </div>
        </div>   
    </div>

    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">        
        <div class="bg-black text-white center-mid">
            <div>
                <h2 class="font-title text-5xl">Technologies I Use</h2>
            </div>
        </div>
        <div class="text-black center-mid">
            <div class="max-w-md space-y-4">
                <p>Using some of the latest technologies in modern website development, projects are delivered using:</p>
                <ul>
                    <li><strong class="font-bold">CMS:</strong> 100% Bespoke, CraftCMS, DatoCMS</li>
                    <li><strong class="font-bold">Frameworks:</strong> .net Core, Next.js, Astro.build</li>
                    <li><strong class="font-bold">SaaS:</strong> Shopify, Webflow</li>
                    <li><strong class="font-bold">Tools:</strong> VS Code, Docker, Git</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-2" style="grid-auto-rows: 50vh;">        
        <div class="bg-black text-white center-mid md:order-1">
            <div>
                <h2 class="font-title text-5xl">Skillsets</h2>
                <p>For those in the know, you know&hellip;</p>
            </div>
        </div>
        <div class="text-black center-mid">
            <div class="max-w-md space-y-4">
                <p>Over my time in web development I have widened my skillset and touched a lot of different technologies to varying degrees of intimacy. Some of these are:</p>
                <ul>
                    <li><strong class="font-bold">Backend:</strong> .NET C#, .net Core, SQL/MSSQL, MySQL, Redis, PHP, Docker, Git</li>
                    <li><strong class="font-bold">Frontend:</strong> JavaScript, TypeScript, React, Next.js, Alpine.js, Astro, Vue.js, HTML, CSS, <span class="text-xs">and jQuery <span title="Face With Finger Covering Closed Lips">(&#129323;)</span></span></li>
                    <li><strong class="font-bold">Hosting:</strong> IIS, Linux/Ubuntu (to less extent)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
