---
import MainNav from '../components/nav/main.jsx';
import '../css/global.pcss';

const { title = "" } = Astro.props;
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />    
	<meta name="keywords" content="Dan Richardson, freelance web developer" />
	<meta name="description" content="Dan Richardson - Freelance Web Developer, Derby" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nunito:wght@900&family=Space+Mono&display=swap" rel="stylesheet">
	<title>Dan Richardson - Freelance Web Developer, Derby</title>
</head>

<body>

	<MainNav client:load />

	<div class="relative z-10">
    	<slot />
	</div>
    
    <!-- <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-859633-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script> -->
</body>

</html>
